h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}
ul {
    background-color: blueviolet;
}

.ambos {
    font-family: sans-serif;
}

#amarelo {background-color: yellow;}
#vermelho{background-color: red;}
#marrom{background-color: sienna;}
